/* src/components/AdminLogin/AdminLogin.css */

.admin-login-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.admin-login-container {
    background-color: white;
    padding: 25px 30px;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.admin-login-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-login-title h2 {
    font-size: 24px;
    font-weight: 700;
    color: #333;
}

.admin-login-title img {
    width: 16px;
    cursor: pointer;
}

.admin-login-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.admin-login-inputs input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

.admin-login-container button {
    background-color: tomato; /* Primary color */
    color: white;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s;
}

.admin-login-container button:hover {
    background-color: darkred;
}